.inputWrap {
  display: flex;
  flex-direction: column;
}

.name,
.btn {
  width: 40%;
  margin-left: 30%;
}

.name {
  height: 1.9em;
  font-size: 1.2em;
  border: 0;
}

.name:focus {
  background-color: #0e58e3;
  color: #e9ebf0;
}

.btn {
  background-color: #0e58e3;
  border: 0;
  margin-top: 0.7em;
  color: #e9ebf0;
  font-size: 1.4em;
  border-radius: 2em;
}

.btn:hover {
  cursor: pointer;
}
